<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--agregar un icono-->
  <title>Inicio - ServiTec</title>
   <!-- Favicon -->
   <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="styles.css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="vendor/clean-blog.min.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <div class="logo">
                <img src="img/icono electri.jpg" alt="Logo ServiTec" class="logo-img">
            </div>
          <a class="navbar-brand" href="#">ServiTec</a>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item px-lg-4 {% if request.path == '/index.html' %}active{% endif %}">
                <a class="nav-link text-uppercase text-expanded" href="index.html"><i class="fa fa-home"></i>Inicio</a>
              </li>
              <li class="nav-item px-lg-4 {% if request.path == '/servicio-tecnico.html' %}active{% endif %}">
                <a class="nav-link text-uppercase text-expanded" href="servicio-tecnico.html">Servicio Técnico</a>
              </li>
              <li class="nav-item px-lg-4 {% if request.path == '/reparaciones.html' %}active{% endif %}">
                <a class="nav-link text-uppercase text-expanded" href="reparaciones.html">Reparaciones</a>
              </li>
              <li class="nav-item px-lg-4 {% if request.path == '/contacto.html' %}active{% endif %}">
                <a class="nav-link text-uppercase text-expanded" href="contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<div class="portada">
  <section class="portada-content">
    <div class="content-wrapper">
      <h2>Bienvenido a ServiTech</h2>
      <p>Tu solución confiable para la reparación de celulares, laptops, computadoras y más.</p>
      <img src="img/portada.jpg" alt="Imagen de portada">
    </div>
  </section>
          <!-- Pié de página -->
        <footer>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  <ul class="list-inline text-center">
                    <li class="list-inline-item">
                      <a href="#">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <!--ref iconos-->
                      <a href="#">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                  </ul>
                  <p class="colorcontacto">ServiTec 2024 · Tu solución confiable para la reparación de celulares, laptops, computadoras y más.</p>
                </div>
              </div>
            </div>
          </footer>
</div>

</body>
</html>
